.day {
  height: 100%;
  border-radius: 10px;
  overflow: auto;
}

.day span {
  padding-left: 5%;
}

.day-header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-add {
  background-color: rgba(255, 160, 80, 0.3);
  cursor: pointer;
}

.btn-add:hover {
  animation-name: add-btn-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 768px){
  .day section {
    display: none;
  }
  .btn-add {
    display: none;
  }
}

@keyframes add-btn-hover {
  from {
    background-color: rgba(255, 160, 80, 0.3);
  }

  to {
    background-color: rgba(255, 160, 80, 1);
  }
}
