.day-items {
  margin-top: 10%;
}

.day-item {
  margin-top: 1%;
  text-align: center;
  border-radius: 10px;
}

.assignment {
  background-color: rgba(0, 255, 255, 0.3);
}

.right {
  float: right;
}

.exists {
  background-color: rgba(0, 0, 0, 0.1);
}
