.info-wrapper {
  background-color: #FFFEFE;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  min-height: 500px;
}

.info-title {

}

.info-content {
  width: 100%;
  word-wrap: break-word;
}

.info-delete {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: calc(100% - 20px);
}

.info-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.info-close:hover {
  animation-name: being-black;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes being-black {
  from {
    color: rgba(0, 0, 0, 0.3);
  }
  to {
    color: rgba(0, 0, 0, 1);
  }
}
