.info-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 600px;
  max-height: 400px;
  background-color: #FFFEFE;
  border-radius: 10px;
  padding: 1em;
}

.info-title {
  max-height: 100px;
  overflow: hidden;
  text-align: center;
  word-break: break-word;
}

.info-content {
  height: 200px;
  overflow: auto;
  word-break: break-word;
}

.btn-delete {
  width: 100%;
  height: 40px;
  background-color: #FF8A8A;
}

.btn-delete:hover {
  animation-name: delete-btn-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.info-close {
  position: absolute;
  margin-top: 0;
  margin-left: 570px;
  color: rgba(0, 0, 0, 0.3);
}

.info-close:hover {
  animation-name: close-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes delete-btn-hover {
  from {
    background-color: #FF8A8A;
  }
  to {
    background-color: #FF5A5A;
  }
}

