#info-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5 );
}

.info {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.info-header {
  display: flex;
  font-weight: bold;
  font-size: 2em;
}

.info-title {
  flex: 1 0 auto;
}

.info-writer {
  flex: 1 1 auto;
}

.info-close {
  margin: auto;
  color: #AAAAAA;
  cursor: pointer;
}

.info-close:hover {
  color: #000000;
}

.info-content {
  width: 100%;
  height: 30vh;
  word-break: break-word;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-delete {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #ff7861;
  font-weight: bold;
  font-size: 1.3em;
  color: #FFFFFF;
}

.info-delete:hover {
  background-color: #ff5046;
}
