.day-item {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  color: #FFFFFF;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
}

.event {
  background-color: #f5b74d;
}

.presentation {
  background-color: #f3c74d;
}

.assignment {
  background-color: #ffd57d;
}

.presentation:hover, .event:hover, .assignment:hover {
  background-color: #ff7640;
}
