.day-item {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  color: #FFFFFF;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
}

.presentation {
  background-color: #F3CB60;
}

.event {
  background-color: #F5B74D;
}

.assignment {
  background-color: #F26D40;
}

.presentation:hover, .event:hover, .assignment:hover {
  background-color: #A83738;
}
