.day-item {
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
}

.presentation {
  background-color: #ffd27e;
}

.presentation:hover {
  background-color: #ff9040;
}

.event {
  background-color: #ffA080;
}

.event:hover {
  background-color: #ff503f;
}
