.day-item {
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  height: 24px;
}

.presentation {
  background-color: #F3CB60;
}

.event {
  background-color: #F5B74D;
}

.assignment {
  background-color: #F26D40;
}

.presentation:hover, .event:hover, .assignment:hover {
  background-color: #A83738;
}
