.day-wrapper {
  height: 100%;
  border-radius: 10px;
  padding-top: 2%;
  overflow: auto;
}

.gray {
  background-color: #DDDDDD;
}

.day-wrapper:hover {
  background-color: #DDDDDD;
}

.day-header {
  display: flex;
}

.day {
  flex: 0 0 auto;
  margin-left: 5%;
}

.add-plan {
  margin-left: auto;
  margin-right: 5%;
  margin-top: 3%;
  color: #AAAAAA;
  cursor: pointer;
}

.add-plan:hover {
  color: #000000;
}
