#calendar {
  padding-top: 50px;
}

.calendar {
  width: 1280px;
  margin: 70px auto auto;
}

.calendar-header {
  text-align: center;
}

.calendar-header span {
  display: block;
}

.calendar-header .month {
  font-size: 3em;
  font-weight: bold;
}

.calendar-body {
  margin-top: 50px;
}

.calendar-table {
  width: 100%;
  table-layout: fixed;
}

.calendar-table tr th:nth-child(1) {
  color: red;
}

.calendar-table tr th:nth-child(7) {
  color: blue;
}

.calendar-table thead th {
  border-radius: 10px;
  background-color: #f1c360;
}

.calendar-table tbody th {
  height: 160px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 1280px){
  .calendar {
    width: 100%;
  }
  .calendar-table tbody th {
    height: 14vw;
  }
}
