.navbar-dark {
  background-color: #222;
  border-color: #080808;
  color: azure;
}

.header-menu {
  margin-right: 5vw;
}

.header-menu:hover {
  animation-name: going-bigger;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.navbar a {
  color: #FFF !important;
  text-decoration: none !important;
}

@keyframes going-bigger {
  from {
    font-size: 16px;
  }
  to {
    font-size: 18px;
  }
}
