#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  line-height: 40px;
  background-color: #ffa050;
  color: #FFFEFE;
  font-weight: bold;
}

.navbar-brand {
  position: absolute;
  left: 5vw;
}

.header-menu {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1em;
  margin-left: 60px;
  cursor: pointer;
}

.navbar-right {
  position: absolute;
  right: 5vw;
}

.header-menu:hover {
  animation-name: being-bigger;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 768px){
  .profile-menu {
    display: none;
  }
}

@keyframes being-bigger {
  from {
    font-size: 1em;
  }

  to {
    font-size: 1.5em;
  }
}

