#register {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.register-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.register {
  width: 40vw;
  border-radius: 10px;
  background-color: #FFF;
  padding: 2em;
}

#register-form {
  width: 100%;
  height: 100%;
}

#register-form input {
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #000;
}

.register-close {
  position: absolute;
  margin-top: 0;
  margin-left: 38vw;
  color: rgba(0, 0, 0, 0.3);
}

.register-close:hover {
  animation-name: close-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.btn-register {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #ffa050;
  color: #FFF;
  cursor: pointer;
}

.btn-register:hover {
  animation-name: btn-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 768px){
  .register {
    width: 75%;
  }
  .register-close {
    margin-left: 70%;
  }
}
