#register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.register {
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: #FFFFFF;;
}

.register-header {
  display: flex;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 30px;
}

.register-title {
  flex: 1 0 auto;
}

.register-close {
  margin: auto;
  color: #AAAAAA;
  cursor: pointer;
}

.register-close:hover {
  color: #000000;
}

#register-form input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  font-size: 1.3em;
}

#register-form button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #F2C61D;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}

#register-form button:hover {
  background-color: #F1942E;
}
