#index {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("https://elbauldelcodigo.com/img/diferencia-fechas-oracle.png") no-repeat center center fixed;
  background-size: cover;
}

.page-title {
  font-size: 3em;
  color: #FFF;
}

.page-subtitle {
  font-size: 1em;
  color: #FFF;
}

.page-section {
  padding-top: 20vh;
  padding-left: 200px;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  cursor: default;
}

.page-description {
  width: 100%;
  height: 70vh;
  background-color: rgb(255, 255, 255);
}

.btn-main {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #ffa050;
  font-weight: bold;
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
}

.btn-main:hover {
  animation-name: btn-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 768px){
  .page-section {
    padding-left: 50px;
  }
}

@keyframes btn-hover {
  from {
    background-color: #ffa050;
  }
  to {
    background-color: #ff8428;
  }
}

@keyframes close-hover {
  from {
    color: rgba(0, 0, 0, 0.3);
  }
  to {
    color: rgba(0, 0, 0, 0.7);
  }
}
